a.text-extra-dark-gray.text-uppercase.alt-font.text-large.font-weight-600.margin-15px-bottom.display-block:hover{color:#ff503f;text-decoration:none;background-color:transparent}.unread-msg{
    background: #69d569db;
    padding: 3px;
    border-radius: 50%;
    color: #000000;
}